<!DOCTYPE HTML>
<html>
    <head>
        <link rel = "stylesheet" href = "../normalize.css">
        <link rel = "stylesheet" href = "../skeleton.css">
        <link rel = "stylesheet" href = "../main.css">
        {{mymap.js}}
        <title>
            maps and shit
        </title>
    </head>
    <body>
        <div class = "container">
            <div class = "twelve" id = "map" style = "background-color:black;">
                {{mymap.html}}
            </div>
        </div>
    </body>
</html>