<!DOCTYPE HTML>
<html>
    <head>
            <link rel = "stylesheet" href = "../static/normalize.css">
            <link rel = "stylesheet" href = "../static/skeleton.css">
            <link rel = "stylesheet" href = "../static/main.css">
            <title> CSI miami</title>
    </head>
    <body>
        <div class = "container">
        <div class = "twelve columns">
        <h1 class = "eleven columns offset-by-one" style = "text-align: center;"> Got any encounters of the critter kind?</h1>
        <div class = "six columns offset-by-three" style = "align-content:center;">
            <form method="post" action ="/submit">
                <label style = "text-align:center;"><h4>What critter did you spy?</h4></label>
                <input  type="text" placeholder="idk, a squirrel" name="critter" id = "text" align = "center" size="50" style = "text-align:center;position:absolute;"><br><br><br>
                
                <label style = "text-align:center;"><h4>Where did you spy that critter?</h4></label>
                <input  type="text" placeholder="idk, pyongyang" name="location" id = "text" align = "center" size="50" style = "text-align:center;position:absolute;"><br><br><br>
                
                <label for="date" style="text-align:center;"><h4>Where did you spy that critter?</h4></label>
                <input type="date" id="text" style="width:92%;text-align:center;" name = "date" align = "center">
                
                <div class = "one column offset-by-four">
                    <input type="submit" class = "button-primary" style = "text-align:center;position:absolute;">
                </div>
            </form>
            <br><br><br><br><p style = "text-align:center;"> alternately click <a href = "/map" style="text-decoration:none;"> here </a> to see maps for different critters</p>
        </div>
        </div>
    </div>
    </body>
</html>